* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: sans-serif;
   
  }
  body{
    overflow-x: hidden;
  }
  
  #header_media {
    background-color: #2D3E4D;
    width: 100vw;
    height: 3rem;
  }
  
  #header_media_fb {
    position: absolute;
    right: 6.7rem;
    top: 0.5rem;
  }
  
  #header_media_IG {
    position: absolute;
    right: 3.9rem;
    top: 0.5rem;
  }
  #header_media_Line {
    position: absolute;
    right: 9.4rem;
    top: 0.5rem;
  }
  #header_media_twitter {
    position: absolute;
    right: 12.2rem;
    height: 1.9rem;
    top: 0.5rem;
  }
  
  
  /* <!-- 登入 --> */
  
  /* <!-- 登入 --> */
  
  /* <!-- 目錄 --> */
  
  .container-fluid{
    position: relative;
    right: 50px;
  }
  .navbar-brand{
    position: relative;
    left: 90px;
  }
  
  
  .navbar-light a.nav-link {
    color: #2D3E4D !important;
  }
  
  .navbar-light a.nav-link:hover {
    color: #3EB595 !important;
  }
  
  form .btn {
    font-size: 1rem;
    width: 7rem;
    color: #FFF;
    background-color: #2D3E4D;
  }
  
  form .btn:hover {
    background-color: #3EB595;
  }
  
  a.nav-link {
    font-size: 1.25rem;
    font-weight: 700;
    color: #2D3E4D;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  a.nav-link:hover {
    color: #3EB595;
  }
#nav_title{
    margin-top: 0.5rem;
    background-color: #2D3E4D;
    width: 100vw;
    height: 3rem;
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    line-height: 3rem;
}
#sec_area_1{
    position: relative;
    overflow: hidden;
}
#main_pic{
    width: 100vw;
    height: 60vh;
    transition: all 1s ease;
}
#main_pic:hover{
    transform: scale(1.1);
}
#sec_area_1 .p1{
    position: absolute;
    top: 5rem;
    left: 25rem;
    font-size: 3rem;
    z-index: 2;
    font-weight: 900;
    color: #FFF;
}
#sec_area_1 .p2{
    position: absolute;
    top: 8rem;
    left: 55rem;
    font-size: 3rem;
    z-index: 2;
    font-weight: 900;
    color: #FFF;
}
#sec_area_2{
    position: relative;
    margin: 0.5rem;
    left: 7rem;
}
#sec_area_2 .area_p1{
    font-size: 2rem;
}
#sec_area_2 .area_p2{
    font-size: 1rem;
}
#sec_area_3 {
    display: flex;
    margin: 2rem 7.5rem;
    width: 80vw;
    justify-content: space-between;
}
.area3_p1, .area5_p1, .area7_p1{
    color: #3EB595;
    font-weight: 700;
    font-size: 1.5rem;
}
#sec_area_4{
    position: relative;
}
#area_pic{
    width: 100vw;
    height: 60vh;
}
#sec_area_4 .area4_p1{
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 3rem;
    z-index: 2;
    font-weight: 900;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.25);
}
#sec_area_5, #sec_area_7{
    display: flex;
    margin: 2rem 7.5rem;
    width: 80vw;
    justify-content: space-between;
}
#sec_area_6{
    background-color: rgba(201, 195, 185, 0.5);
    display: flex;
    justify-content: center;
}
#sec_area_6 .area_6{
    /* border: 1px solid red; */
    margin: 5rem 0;
    width: 40rem;
    height: 100%;
}
#sec_area_6 .area_6 img{
    max-width: 100%;
    max-height: 100%;
}
#sec_area_6 .area_6 p{
    padding-left: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
}
#sec_area_6 h2{
    padding-bottom: 1rem;
}
#sec_area_8{
    text-align: center;
    margin-bottom: 1.5rem;
}
#sec_area_8 a{
    text-decoration: none;
    padding: 0 0.75rem;
    font-size: 1.25rem;
    color: #000;    
    transition: all 0.5s ease;
}
#sec_area_8 a:hover{
    color: #3EB595;
    font-weight: 700;
}
footer{
  width: 100vw;
  height: 13rem;
  background-color: #C9C3B9;
  position: relative;
}
#footer_logo{
  position: absolute;
  left: 25rem;
  top: 2rem;
}
#footer_media_fb{
  position: absolute;
  left: 40rem;
  top: 3rem;
}
#footer_media_IG{
  position: absolute;
  left: 48rem;
  top: 3rem;
}
#footer_media_Line{
position: absolute;
left: 44rem;
top: 3rem;
}
#footer_media_Twitter{
position: absolute;
left: 52rem;
top: 3rem;
}

footer p{
  position: absolute;
  left: 40rem;
  top: 6rem;
  font-size: 1.25rem;
}