#sec_area_8{
    text-align: center;
    padding-bottom: 3rem;
}
#sec_area_8 a{
    text-decoration: none;
    padding: 0 0.75rem;
    font-size: 1.25rem;
    color: #000;    
    transition: all 0.5s ease;
}
#sec_area_8 a:hover{
    color: #3EB595;
    font-weight: 700;
}

#footer_info{
    padding-top: 3rem;
    margin-bottom: 1rem;
    width: 100vw;
    background-color: #C9C3B9;
}