* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

#header_media {
  background-color: #2D3E4D;
  width: 100vw;
  height: 3rem;
}

#header_media_fb {
  position: absolute;
  right: 6rem;
  top: 0.5rem;
}

#header_media_IG {
  position: absolute;
  right: 3rem;
  top: 0.5rem;
}

#header_media_Line {
  position: absolute;
  right: 9rem;
  top: 0.5rem;
}

#header_media_twitter {
  position: absolute;
  right: 12rem;
  top: 0.5rem;
  height: 30px;
}

.navbar-light a.nav-link {
  color: #2D3E4D !important;
}

.navbar-light a.nav-link:hover {
  color: #3EB595 !important;
}

form .btn {
  font-size: 1rem;
  width: 7rem;
  color: #FFF;
  background-color: #2D3E4D;
}

form .btn:hover {
  background-color: #3EB595;
}

a.nav-link {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2D3E4D;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.nav-link:hover {
  color: #3EB595;
}

#nav_title {
  margin-top: 0.5rem;
  background-color: #2D3E4D;
  width: 100vw;
  height: 3rem;
  font-size: 1.5rem;
  color: #FFF;
  text-align: center;
  line-height: 3rem;
}

#login-container {
  border: 5px dashed #2D3E4D;
  margin: 5rem auto;
  padding: 3rem 0;
}

#login-container label {
  font-size: 1.25rem;
  color: #2D3E4D;
  font-weight: 900;
}

#login-container .btn {
  font-size: 1.25rem;
  width: 5rem;
  color: #FFF;
  background-color: #2D3E4D;
  margin-left: 3rem;
}

#login-container .btn:hover {
  background-color: #3EB595;
}

#login-container form a {
  margin-left: 20rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

#login-container form a:hover {
  color: #2f2fec;
}

form .text{
  font-size: 20px;
  font-weight: bold;
  display: none;
}
form .text.weak{
  color: #ff4757;
}
form .text.medium{
  color: orange;
}
form .text.strong{
  color: #23ad5c;
}
.indicator span.weak:before{
  background-color: #ff4757;
}
.indicator span.medium:before{
  background-color: orange;
}
.indicator span.strong:before{
  background-color: #23ad5c;
}
form .indicator span.active:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
form .indicator span:nth-child(2){
  margin: 0 3px;
}
form .indicator{
  height: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
form .indicator span{
  position: relative;
  height: 100%;
  width: 100%;
  background: lightgrey;
  border-radius: 5px;
}