* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
 
}
body{
  overflow-x: hidden;
}

#header_media {
  background-color: #2D3E4D;
  width: 100vw;
  height: 3rem;
}

#header_media_fb {
  position: absolute;
  right: 6.7rem;
  top: 0.5rem;
}

#header_media_IG {
  position: absolute;
  right: 3.9rem;
  top: 0.5rem;
}
#header_media_Line {
  position: absolute;
  right: 9.4rem;
  top: 0.5rem;
}
#header_media_twitter {
  position: absolute;
  right: 12.2rem;
  height: 1.9rem;
  top: 0.5rem;
}


/* <!-- 登入 --> */

/* <!-- 登入 --> */

/* <!-- 目錄 --> */

.container-fluid{
  position: relative;
  right: 50px;
}
.navbar-brand{
  position: relative;
  left: 90px;
}


.navbar-light a.nav-link {
  color: #2D3E4D !important;
}

.navbar-light a.nav-link:hover {
  color: #3EB595 !important;
}

form .btn {
  font-size: 1rem;
  width: 7rem;
  color: #FFF;
  background-color: #2D3E4D;
}

form .btn:hover {
  background-color: #3EB595;
}

a.nav-link {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2D3E4D;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.nav-link:hover {
  color: #3EB595;
}
#nav_title{
    margin-top: 0.5rem;
    background-color: #2D3E4D;
    width: 100vw;
    height: 3rem;
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.wrap {
  width: 1200px;
  display: flex;
  /* 變橫向 */
  margin: auto;
  /* 置中 */
}
.item {
  width: 368px;
  margin: 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  transform: translateY(0px);
  transition: 0.5s;
}
.item img {
  width: 100%;
  vertical-align: middle;
}
.item h2 {
  border-bottom: 1px solid #888;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: 900;
  transition: 0.25s;
}
.item p {
  line-height: 1.7;
  /* 類似word裡面的行高，讓字不要那麼壅擠 */
  font-weight: 300;
  transition: 0.25s;
}
.item .txt {
  padding: 20px;
}
.item:hover {
   transform: translateY(-50px);
}
 .item:hover .txt {
  background-image: linear-gradient(0deg, #fb8076, #feb85d);
}
.item:hover h2 {
  color: #fff;
  border-bottom-color: #fff;
}
.item:hover p {
  color: #fff;
}

#Projectbutton1{
  position: relative;
  right:1100px ;
}
#Projectbutton2{
  position: relative;
  right:700px ;
  top: -35px;
}
#Projectbutton3{
  position: relative;
left: 1050px;
top: -70px;
}

#sec_area{
  text-align: center;
  margin-bottom: 1.5rem;
}
#sec_area a{
    text-decoration: none;
    padding: 0 0.75rem;
    font-size: 1.25rem;
    color: #000;    
    transition: all 0.5s ease;
}
#sec_area a:hover{
    color: #3EB595;
    font-weight: 700;
}