* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

#header_media {
  background-color: #2D3E4D;
  width: 100vw;
  height: 3rem;
}

#header_media_fb {
  position: absolute;
  right: 6.7rem;
  top: 0.5rem;
}

#header_media_IG {
  position: absolute;
  right: 3.9rem;
  top: 0.5rem;
}

#header_media_Line {
  position: absolute;
  right: 9.4rem;
  top: 0.5rem;
}

#header_media_twitter {
  position: absolute;
  right: 12.2rem;
  height: 1.9rem;
  top: 0.5rem;
}

.container-fluid {
  position: relative;
  right: 50px;
}

.navbar-brand {
  position: relative;
  left: 90px;
}

.navbar-light a.nav-link {
  color: #2D3E4D !important;
}

.navbar-light a.nav-link:hover {
  color: #3EB595 !important;
}

form .btn {
  font-size: 1rem;
  width: 7rem;
  color: #FFF;
  background-color: #2D3E4D;
}

form .btn:hover {
  background-color: #3EB595;
}

a.nav-link {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2D3E4D;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.nav-link:hover {
  color: #3EB595;
}

#nav_title {
  margin-top: 0.5rem;
  background-color: #2D3E4D;
  width: 100vw;
  height: 3rem;
  font-size: 1.5rem;
  color: #FFF;
  text-align: center;
  line-height: 3rem;
}

/* .card {
  height: 1000px;
} */

.box1 {
  position: relative;
  width: 700px;
}

.d-block {
  height: 1000px;
  width: 700px;
}

.carousel-caption {
  background-color: #2D3E4D;
  opacity: 0.75;
}

.text1 {
  color: white;
}

#mydate {
  width: 575px;
}

.card-body {
  position: relative;
}

.list-group {
  width: 500px;
  left: 500px;
}

.col-md-8 {
  position: relative;
  left: 500px;
}

#myMoney {
  width: 575px;
}