<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/feedback.css">
    <title>Daobunso</title>
</head>
<body>
    <header>
    </header>
    <!-- ~header -->

    <div class="main">
        <div class="container w-100 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-10">
                    <div class="text w-50">
                        <h1>Feedback</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav_title">網站回饋 User Feedback</div>
    <!-- 隨機意見跑馬燈 -->
        <div id="marquee"class="container my-3" style ="height: 16rem;display: none;" >
            <div class="row h-100">
                <div id="sushi" v-for="rl in res" class="sushi card mb-3 col" style="max-width: 540px;height: 14rem;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="./image/service_intro/holo/pekora.png"class=" img-fluid rounded-start">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h6 type="date">{{rl.date}}</h6>
                                <img src="./image/service_intro/holo/Saintquartz.png"v-for="n in rl.star"style="height: 1.5rem;width: 1.5rem;"> 
                                <h5 class="card-title">{{rl.account}}</h5>
                                <p type="textarea" class="card-text"style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{rl.comment}}</p>

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> 
    <!-- ~隨機意見跑馬燈 -->
    
    <div class="row my-3">
        <!-- 意見領域展開!!! -->
        <div class="col-2 mx-auto">
            <button id="btn-ex" class="btn btn-outline-primary mx-auto">填寫意見</button>
        </div>
        <!-- ~意見領域展開!!! -->

        <!-- 修改刪除按鈕 -->
        <div class="col-2 mx-auto">
            <button id="btn-edit" class="btn btn-primary mx-auto" style="width: 9rem;" >修改/刪除意見</button>
        </div>
        <!-- ~修改刪除按鈕 -->
    </div>
    
    <!-- 意見領域 -->
    <div class="feedback">
        <div class="container">
            <div class="row">
                <div class="user-img col-1">
                     <div style="height: 5rem;width: 5rem;">
                        <img class="img-fluid" src="">
                    </div>
                </div>
                <div class="col">
                    <div class="user-name mt-3">
                        <h2 style="color: cornflowerblue;">pekora</h2>
                    </div>
                </div>
            </div>
        <hr class="mx-auto">
            <div class="row mt-3">
                <div class="col">

                    <!-- 意見回饋 -->
                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlTextarea1" class="form-label">內容:</label>
                        </div>
                        
                        <div class="col">

                            <!-- 星星 -->
                            <div class="btn-group mx-auto col-4" role="group" >
                                <div class="star star1"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                                <div class="star star2"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                                <div class="star star3"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                                <div class="star star4"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                                <div class="star star5"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                            </div>
                            <!-- /星星 -->

                        </div>
                        <textarea class="form-control" id="feedback-comment" rows="10"></textarea>
                    </div>
                    <!-- /意見回饋 -->
                
                    <div class="row mt-5">

                        <!-- 送出按鈕 -->
                        <div class="col-2 d-grid gap-2 d-md-flex me-5">
                            <button id="btn-feedback" class="btn btn-primary" type="button" style="height: 3rem; width: 6rem;">送出</button>
                        </div>
                        <!-- /送出按鈕 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ~意見領域 -->

    <!-- 編輯領域 -->
    <div id="feedback-edit">
        <div class="container">
            
            <div class="row">
                <ul>
                    <li v-for="rli in res" class="editli"style="list-style-type:none; display: none;">{{rli}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ~編輯領域 -->

    <!-- footer -->
    <footer>
    </footer>
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/logincheck.js"></script>
    <script src="js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.Marquee/1.6.0/jquery.marquee.js" integrity="sha512-fkD+ERYA/LvkGF5GiipDr7myGZH3m8OPbYw62KE6qalbgykahcpfNjWe/RZmsY12qraS+wYUo2e51Zl2hShgVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="js/feedback.js"></script>
</body>
</html>