<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/feedback.css">
    <title>Daobunso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div th:replace="header :: header"></div>
    </header>

    <!-- ~header -->

    <div class="main">
        <div class="container w-100 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-10">
                    <div class="text w-50">
                        <h1>Feedback</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="nav_title" th:text="#{feedback.title}">網站回饋</div>
    <div>
        <!-- 隨機意見跑馬燈 -->
        <div id="marquee" class="container " style="display: none;">
            <div class="row py-3" v-if="res">
                <div v-for="rl in res" class="col-12 col-md-6 col-xl-4">
                    <div class="sushi mx-auto card mb-3 " style="width:22rem;">
                        <div class="row g-0 ">
                            <div class="col-3">
                                <img src="./image/service_intro/holo/pekora.png" class="img-fluid rounded-start"
                                    style="height:4rem;">
                            </div>
                            <div class="col-9">
                                <div class="card-body">
                                    <h6 type="date">{{rl.date}}</h6>
                                    <i class="fas fa-star" v-for="n in rl.star"
                                        style="height: 2rem;width: 2rem; color: yellow;"></i>
                                    <h5 class="card-title">{{rl.account}}</h5>
                                    <p type="textarea" class="card-text"
                                        style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                                        {{rl.comment}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ~隨機意見跑馬燈 -->


    </div>


    <div class="row my-3">
        <!-- 意見領域展開!!! -->
        <div class="col-6 d-flex justify-content-center">
            <button id="btn-ex" class="btn btn-primary " style="width: 3rem;">
                <!-- write-icon -->
                <svg id="write-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-signature"
                    class="svg-inline--fa fa-file-signature" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path fill="currentColor"
                        d="M292.7 342.3C289.7 345.3 288 349.4 288 353.7V416h62.34c4.264 0 8.35-1.703 11.35-4.727l156.9-158l-67.88-67.88L292.7 342.3zM568.5 167.4L536.6 135.5c-9.875-10-26-10-36 0l-27.25 27.25l67.88 67.88l27.25-27.25C578.5 193.4 578.5 177.3 568.5 167.4zM256 0v128h128L256 0zM256 448c-16.07-.2852-30.62-9.359-37.88-23.88c-2.875-5.875-8-6.5-10.12-6.5s-7.25 .625-10 6.125l-7.749 15.38C187.6 444.6 181.1 448 176 448H174.9c-6.5-.5-12-4.75-14-11L144 386.6L133.4 418.5C127.5 436.1 111 448 92.45 448H80C71.13 448 64 440.9 64 432S71.13 416 80 416h12.4c4.875 0 9.102-3.125 10.6-7.625l18.25-54.63C124.5 343.9 133.6 337.3 144 337.3s19.5 6.625 22.75 16.5l13.88 41.63c19.75-16.25 54.13-9.75 66 14.12C248.5 413.2 252.2 415.6 256 415.9V347c0-8.523 3.402-16.7 9.451-22.71L384 206.5V160H256c-17.67 0-32-14.33-32-32L224 0H48C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48V448H256z">
                    </path>
                </svg>
                <!-- ~write-icon -->
            </button>
        </div>
        <!-- ~意見領域展開!!! -->

        <!-- 修改刪除按鈕 -->
        <div class="col-6 d-flex justify-content-center">
            <button id="btn-list" class="btn btn-primary " style="width: 3rem;">
                <!-- eraser-icon -->
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eraser"
                    class="svg-inline--fa fa-eraser" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M497.9 273.1c9.313-9.376 13.97-21.69 13.97-34s-4.655-24.63-13.97-34l-159.1-160C328.6 36.66 316.3 32 303.1 32c-12.31 0-24.62 4.656-33.1 13.97L13.97 301.1C4.655 311.4 0 323.7 0 335.1s4.655 24.63 13.97 34l95.1 96c8.965 8.965 21.17 14 33.85 14L499.1 480C506.6 480 512 474.6 512 467.1c0-28.72-23.28-52-52-52h-104.1L497.9 273.1zM195.4 211.4l137.3 137.3l-67.25 67.38H150.6L70.6 335.1L195.4 211.4z">
                    </path>
                </svg>
                <!-- ~eraser-icon -->
            </button>
        </div>
        <!-- ~修改刪除按鈕 -->
    </div>

    <!-- 意見領域 -->
    <div class="feedback">
        <div class="container">
            <div class="row">
                <div class="user-img col-2">
                    <div style="height: 5rem;width: 5rem;">
                        <img class="img-fluid" src="">
                    </div>
                </div>
                <div class="col-10">
                    <div class="user-name mt-3">
                        <h2 style="color: cornflowerblue;">User Name</h2>
                    </div>
                </div>
            </div>
            <hr class="mx-auto">
            <div class="row mt-3">
                <div class="col">

                    <!-- 意見回饋 -->
                    <div class="row">
                        <div class="col-6">

                            <!-- 星星 -->
                            <div id="stars" class="btn-group mx-auto col-4" role="group">
                                <div style="width: 3rem;">
                                    <i id="star1" class="fas fa-star"></i>
                                </div>
                                <div style="width: 3rem;">
                                    <i id="star2" class="fas fa-star"></i>
                                </div>
                                <div style="width: 3rem;">
                                    <i id="star3" class="fas fa-star"></i>
                                </div>
                                <div style="width: 3rem;">
                                    <i id="star4" class="fas fa-star"></i>
                                </div>
                                <div style="width: 3rem;">
                                    <i id="star5" class="fas fa-star"></i>
                                </div>

                            </div>
                            <!-- /星星 -->

                        </div>
                        <div id="feedback-id" class="row col-6" style="display: none;">
                            <div class="col-1">
                                <!-- hastag icon -->
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="hashtag"
                                    class="svg-inline--fa fa-hashtag" role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                        d="M416 127.1h-58.23l9.789-58.74c2.906-17.44-8.875-33.92-26.3-36.83c-17.53-2.875-33.92 8.891-36.83 26.3L292.9 127.1H197.8l9.789-58.74c2.906-17.44-8.875-33.92-26.3-36.83c-17.53-2.875-33.92 8.891-36.83 26.3L132.9 127.1H64c-17.67 0-32 14.33-32 32C32 177.7 46.33 191.1 64 191.1h58.23l-21.33 128H32c-17.67 0-32 14.33-32 32c0 17.67 14.33 31.1 32 31.1h58.23l-9.789 58.74c-2.906 17.44 8.875 33.92 26.3 36.83C108.5 479.9 110.3 480 112 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27h95.12l-9.789 58.74c-2.906 17.44 8.875 33.92 26.3 36.83C268.5 479.9 270.3 480 272 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27H384c17.67 0 32-14.33 32-31.1c0-17.67-14.33-32-32-32h-58.23l21.33-128H416c17.67 0 32-14.32 32-31.1C448 142.3 433.7 127.1 416 127.1zM260.9 319.1H165.8L187.1 191.1h95.12L260.9 319.1z">
                                    </path>
                                </svg>
                                <!-- ~hastag icon -->
                            </div>
                            <div class="col-11">
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" id="feedback-comment" rows="10"></textarea>
                    <!-- /意見回饋 -->

                    <div class="row mt-5">

                        <!-- 送出按鈕 -->
                        <div class="col-2 d-grid gap-2 d-md-flex me-5">
                            <button id="btn-feedback" class="btn btn-primary" type="button"
                                style="height: 3rem; width: 6rem;" th:text="#{feedback.submit}">送出</button>
                        </div>
                        <!-- /送出按鈕 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ~意見領域 -->

    <!-- 意見列表領域 -->
    <div id="feedback-list" style="display: none;">
        <div class="container mt-5">
            <!-- <li v-for="rli in res" class="editli" style="list-style-type:none; display: none;">{{rel}}</li> -->
            <div id="table_edit">
                <div class="row">
                    <div class="col-1">
                        <!-- hastag-icon -->
                        <svg style="width: 1.5rem;" aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="hashtag" class="svg-inline--fa fa-hashtag" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M416 127.1h-58.23l9.789-58.74c2.906-17.44-8.875-33.92-26.3-36.83c-17.53-2.875-33.92 8.891-36.83 26.3L292.9 127.1H197.8l9.789-58.74c2.906-17.44-8.875-33.92-26.3-36.83c-17.53-2.875-33.92 8.891-36.83 26.3L132.9 127.1H64c-17.67 0-32 14.33-32 32C32 177.7 46.33 191.1 64 191.1h58.23l-21.33 128H32c-17.67 0-32 14.33-32 32c0 17.67 14.33 31.1 32 31.1h58.23l-9.789 58.74c-2.906 17.44 8.875 33.92 26.3 36.83C108.5 479.9 110.3 480 112 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27h95.12l-9.789 58.74c-2.906 17.44 8.875 33.92 26.3 36.83C268.5 479.9 270.3 480 272 480c15.36 0 28.92-11.09 31.53-26.73l11.54-69.27H384c17.67 0 32-14.33 32-31.1c0-17.67-14.33-32-32-32h-58.23l21.33-128H416c17.67 0 32-14.32 32-31.1C448 142.3 433.7 127.1 416 127.1zM260.9 319.1H165.8L187.1 191.1h95.12L260.9 319.1z">
                            </path>
                        </svg>
                    </div>
                    <div class="col-3">
                        <!-- clock-icon -->
                        <svg style="width: 1.5rem;" aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="clock" class="svg-inline--fa fa-clock" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z">
                            </path>
                        </svg>
                    </div>
                    <div class="col-2">
                        <!-- star-grading-icon -->
                        <svg style="width: 1.5rem;" aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="star-half-stroke" class="svg-inline--fa fa-star-half-stroke" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M528.5 171.5l-146.4-21.29l-65.43-132.4c-5.873-11.83-17.31-17.81-28.78-17.81c-11.39 0-22.82 5.89-28.7 17.8l-65.43 132.4L47.47 171.5C21.2 175.3 10.68 207.6 29.72 226.1l105.9 102.1l-25.04 145.5C107 495.3 123.6 512 142.2 512c4.932 0 10.01-1.172 14.88-3.75L288 439.6l130.9 68.7c4.865 2.553 9.926 3.713 14.85 3.713c18.61 0 35.21-16.61 31.65-37.41l-25.05-145.5l105.9-102.1C565.3 207.6 554.8 175.3 528.5 171.5zM406.9 294.7L388.8 312.3l23.83 138.4L288 385.4V68l62.31 126.1l139.2 20.25L406.9 294.7z">
                            </path>
                        </svg>
                    </div>
                    <div class="col-6">
                        <!-- content-icon -->
                        <svg style="width: 1.5rem;" aria-hidden="true" focusable="false" data-prefix="far"
                            data-icon="file-lines" class="svg-inline--fa fa-file-lines" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path fill="currentColor"
                                d="M365.3 93.38l-74.63-74.64C278.6 6.742 262.3 0 245.4 0L64-.0001c-35.35 0-64 28.65-64 64l.0065 384c0 35.34 28.65 64 64 64H320c35.2 0 64-28.8 64-64V138.6C384 121.7 377.3 105.4 365.3 93.38zM336 448c0 8.836-7.164 16-16 16H64.02c-8.838 0-16-7.164-16-16L48 64.13c0-8.836 7.164-16 16-16h160L224 128c0 17.67 14.33 32 32 32h79.1V448zM96 280C96 293.3 106.8 304 120 304h144C277.3 304 288 293.3 288 280S277.3 256 264 256h-144C106.8 256 96 266.8 96 280zM264 352h-144C106.8 352 96 362.8 96 376s10.75 24 24 24h144c13.25 0 24-10.75 24-24S277.3 352 264 352z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div v-if="rel == 0" class="row">
                    <div class="col">
                        沒東西
                    </div>
                </div>
                <div v-for="(rel,key) in res" class="row mt-4">
                    <div class="col-1">{{rel.objectid}}</div>
                    <div class="col-3">{{rel.date}}</div>
                    <div class="col-2">{{rel.star}}</div>
                    <div class="col-5">{{rel.comment}}</div>
                    <div class="col-1 row">
                        <div @click="edit(key)" class="btn-edit btn btn-outline-primary my-1 mx-1 col" type="button">
                            <!-- edit-icon -->
                            <svg style="width: 1rem;" aria-hidden="true" focusable="false" data-prefix="fas"
                                data-icon="pen-ruler" class="svg-inline--fa fa-pen-ruler" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M109.5 244.1l134.6-134.6L199.9 65.37L138.3 127.1C136.1 128.3 134.4 129.4 132.6 129.4c-1.812 0-4.312-1.031-5.594-2.312L115.8 115.9C112.7 112.8 112.7 107.7 115.8 104.6L177.5 42.95L143.9 9.31c-12.41-12.39-32.5-12.39-44.87 0L9.29 99.01c-12.37 12.39-12.37 32.47 0 44.86L109.5 244.1zM497.9 127.2c18.75-18.75 18.75-49.17-.0006-67.92l-45.25-45.25c-18.78-18.77-49.19-18.77-67.97 0l-45.1 46l113.2 113.2L497.9 127.2zM469.1 334.5l-61.69 61.69c-3.094 3.094-8.117 3.07-11.21-.0239l-11.19-11.19c-3.094-3.094-3.094-8.125 0-11.2l61.69-61.69L402.5 267.9l-134.6 134.6l100.2 100.2c12.41 12.39 32.5 12.39 44.87 0l89.72-89.7c12.37-12.39 12.37-32.47 0-44.86L469.1 334.5zM316.1 82.71l-289.8 289.8c-4.656 4.656-7.763 10.63-8.896 17.12l-17.04 97.47c-2.533 14.49 10.09 27.1 24.58 24.56l97.53-17.1c6.478-1.135 12.45-4.239 17.1-8.89l289.8-289.8L316.1 82.71z">
                                </path>
                            </svg>
                            <!-- ~edit-icon -->
                        </div>
                        <div @click="del(key)" class="btn btn-outline-primary my-1 mx-1 col" type="button">
                            <!-- trash-icon -->
                            <svg style="width: 1rem;color: red;" aria-hidden="true" focusable="false" data-prefix="fas"
                                data-icon="trash" class="svg-inline--fa fa-trash" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor"
                                    d="M53.21 467c1.562 24.84 23.02 45 47.9 45h245.8c24.88 0 46.33-20.16 47.9-45L416 128H32L53.21 467zM432 32H320l-11.58-23.16c-2.709-5.42-8.25-8.844-14.31-8.844H153.9c-6.061 0-11.6 3.424-14.31 8.844L128 32H16c-8.836 0-16 7.162-16 16V80c0 8.836 7.164 16 16 16h416c8.838 0 16-7.164 16-16V48C448 39.16 440.8 32 432 32z">
                                </path>
                            </svg>
                            <!-- ~trash-icon -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ~意見列表領域 -->


    <!-- ~編輯領域 -->

    <!-- footer -->
    <footer>
        <div th:replace="footer :: footer"></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/feedback.js"></script>
</body>

</html>