<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/feedback.css">
    <title>Daobunso</title>
    <script src="js\jquery-3.6.0.js"></script>
    <script src="js\vue.js"></script>
</head>

<body>
    <header>
        <div th:replace="header :: header"></div>
    </header>

    <!-- ~header -->

    <div class="main">
        <div class="container w-100 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-10">
                    <div class="text w-50">
                        <h1>Feedback</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="nav_title">網站回饋 User Feedback</div>
    <div>
        <!-- 隨機意見跑馬燈 -->
        <div id="marquee" class="container " style="display: none;">
            <div class="row py-3" v-if="res">
                <div v-for="rl in res" class="col-12 col-md-6 col-xl-4">
                    <div class="sushi mx-auto card mb-3 " style="width:22rem;">
                        <div class="row g-0 ">
                            <div class="col-3">
                                <img src="./image/service_intro/holo/pekora.png" class="img-fluid rounded-start"
                                    style="height:4rem;">
                            </div>
                            <div class="col-9">
                                <div class="card-body">
                                    <h6 type="date">{{rl.date}}</h6>
                                    <i class="fas fa-star" v-for="n in rl.star"
                                        style="height: 2rem;width: 2rem; color: yellow;"></i>
                                    <h5 class="card-title">{{rl.account}}</h5>
                                    <p type="textarea" class="card-text"
                                        style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                                        {{rl.comment}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ~隨機意見跑馬燈 -->


    </div>


    <div class="row my-3">
        <!-- 意見領域展開!!! -->
        <div class="col-6 d-flex justify-content-center">
            <button id="btn-ex" class="btn btn-primary " style="width: 9rem;">填寫意見</button>
        </div>
        <!-- ~意見領域展開!!! -->

        <!-- 修改刪除按鈕 -->
        <div class="col-6 d-flex justify-content-center">
            <button id="btn-list" class="btn btn-primary " style="width: 9rem;">修改/刪除意見</button>
        </div>
        <!-- ~修改刪除按鈕 -->
    </div>

    <!-- 意見領域 -->
    <div class="feedback">
        <div class="container">
            <div class="row">
                <div class="user-img col-2">
                    <div style="height: 5rem;width: 5rem;">
                        <img class="img-fluid" src="">
                    </div>
                </div>
                <div class="col-10">
                    <div class="user-name mt-3">
                        <h2 style="color: cornflowerblue;">User Name</h2>
                    </div>
                </div>
            </div>
            <hr class="mx-auto">
            <div class="row mt-3">
                <div class="col">

                    <!-- 意見回饋 -->
                    <div class="row">
                        <div class="col-6">

                            <!-- 星星 -->
                            <div id="stars" class="btn-group mx-auto col-4" role="group">
                                <div style="width: 3rem;">
                                    <i id="star1" class="fas fa-star" style="border: 2px;"></i>
                                </div>
                                <div style="width: 3rem;">
                                    <i id="star2" class="fas fa-star" style="border: 2px;"></i>
                                </div>
                                <div style="width: 3rem;">
                                    <i id="star3" class="fas fa-star" style="border: 2px;"></i>
                                </div>
                                <div style="width: 3rem;">
                                    <i id="star4" class="fas fa-star" style="border: 2px;"></i>
                                </div>
                                <div style="width: 3rem;">
                                    <i id="star5" class="fas fa-star" style="border: 2px;"></i>
                                </div>

                            </div>
                            <!-- /星星 -->

                        </div>
                        <div id="feedback-id" class="row col-6" style="display: none;">
                            <div class="col-3">
                                <h3 style="color:rgb(24, 51, 59)">編號:</h3>
                            </div>
                            <div class="col-9">
                                <h2 style="color: rgb(47, 194, 162)"></h2>
                            </div>

                        </div>

                    </div>
                    <textarea class="form-control" id="feedback-comment" rows="10"></textarea>
                    <!-- /意見回饋 -->

                    <div class="row mt-5">

                        <!-- 送出按鈕 -->
                        <div class="col-2 d-grid gap-2 d-md-flex me-5">
                            <button id="btn-feedback" class="btn btn-primary" type="button"
                                style="height: 3rem; width: 6rem;">送出</button>
                        </div>
                        <!-- /送出按鈕 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ~意見領域 -->

    <!-- 意見列表領域 -->
    <div id="feedback-list" style="display: none;">
        <div class="container mt-5">
            <!-- <li v-for="rli in res" class="editli" style="list-style-type:none; display: none;">{{rel}}</li> -->
            <div id="table_edit">
                <div class="row">
                    <div class="col-1">編號</div>
                    <div class="col-2">時間</div>
                    <div class="col-2">評等</div>
                    <div class="col-7">內容</div>
                </div>

                <div v-if="" v-for="(rel,key) in res" class="row">
                    <div class="col-1">{{rel.objectid}}</div>
                    <div class="col-2">{{rel.date}}</div>
                    <div class="col-2">{{rel.star}}</div>
                    <div class="col-5">{{rel.comment}}</div>
                    <div class="col-2 row">
                        <div @click="edit(key)" class="btn-edit btn btn-outline-primary my-1 mx-1 col" type="button">編輯
                        </div>
                        <div @click="del(key)" class="btn btn-outline-primary my-1 mx-1 col" type="button">刪除</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ~意見列表領域 -->

    <center>
        <img src="./image/LOGO1.png" alt="LOGO" width="150rem" style="padding-bottom: 1.5rem;"> <br>
        <hr style="width:90%;"> <br>
    </center>
    <div id="sec_area_8">
        <a href="./about_us">關於我們</a>
        <a href="./service_intro">服務介紹</a>
        <a href="./Userterms">使用須知</a>
        <a href="./problem">常見問題</a>
        <a href="./feedback">使用回饋</a>
        <a href="./service">購買服務</a>
        <a href="./shopping">購物商城</a>
    </div>
    <footer>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="massage-content">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ~編輯領域 -->

    <!-- footer -->
    <footer>
        <div th:replace="footer :: footer">Footer</div>
    </footer>
    <script src="js/feedback.js"></script>
</body>

</html>