<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
        <div th:fragment="footer">
                <img id="footer_logo" src="./image/LOGO2.png" alt="footer_logo" width="200rem">
                <a href="#"><img id="footer_media_fb" src="./image/iconmonstr-facebook-3-240.png" alt="fb sign"
                                width="30rem"></a>
                <a href="#"><img id="footer_media_IG" src="./image/iconmonstr-instagram-11-240.png" alt="IG sign"
                                width="30rem"></a>
                <a href="#"><img id="footer_media_Line" src="./image/iconmonstr-line-3-240.png" alt="Line sign"
                                width="30rem"></a>
                <a href="#"><img id="footer_media_Twitter" src="./image/iconmonstr-twitter-3-240.png" alt="Twitter sign"
                                width="30rem"></a>

                <p>DAOBUNSO &copy; 2021 Garbage Connections. All Rights Reserved.<br>
                        僅為北科大 Java 017 班專題展示使用 <br>
                        如有任何問題請聯絡：XXXXX@gmail.com</p>
        </div>
</body>

</html>