<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>忘記密碼</title>
  <link rel="stylesheet" href="./css/forget_password.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div th:replace="header :: header"></div>
  </header>
  <div id="nav_title">忘記密碼</div>
  <center>
    <h2>請填寫以下資訊</h2>
  </center>
  <center>
    <h2>我們將寄送更改密碼信件給您</h2>
  </center>
  <hr>
  <div class="container">
    <table class="cart_table table table-hover">

      <tbody class="cart_table_body" id="order_main">
        <center>
          <div>
            <form>
              <div class=" col-sm-4 ">
                <label for="exampleInputEmail1" class="form-label" style="margin-top: 20px;">ACCOUNT 請輸入您的帳號*</label>
                <input type="text" class="form-control" id="forgetPasswordAccount" aria-describedby="emailHelp">

              </div>
              <div class=" col-sm-4 ">
                <label for="exampleInputPassword1" class="form-label" style="margin-top: 20px;">Email 請輸入您的信箱*</label>
                <input type="email" class="form-control" id="forgetPasswordEmail">
              </div>

              <button type="submit" class="btn btn-primary  shadow-sm" style="margin-top: 20px;"
                id="submit">信箱驗證</button>
            </form>
          </div>
        </center>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./js/forgetPswdEmail.js"></script>
  <script th:if="${fail} eq fail" th:src="@{./js/emailExpired_thymeleaf.js}"></script>
</body>

</html>