<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:src="@{./js/problem.js}"></script>
</head>

<body>
  <div th:fragment="header">
    <div id="header_media">
      <a href="#"><img id="header_media_fb" src="./image/FB.png" alt="fb sign" width="30rem"></a>
      <a href="#"><img id="header_media_IG" src="./image/IG.png" alt="IG sign" width="30rem"></a>
      <a href="#"><img id="header_media_Line" src="./image/Line.png" alt="IG sign" width="30rem"></a>
      <a href="#"><img id="header_media_twitter" src="./image/Twitter.png" alt="IG sign" width="30rem"></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="./frontpage"><img src="./image/LOGO1.png" alt="LOGO" width="120rem"></a>
        <!-- <li id ="dropdown-lang"class="nav-item dropdown ms-5 ps-5" style="list-style: none">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a id="btn-tw" class="btn dropdown-item" th:href="@{/order_main(l='zh_TW')}">中文</a></li>
            <li><a id="btn-en" class="btn dropdown-item" th:href="@{/order_main(l='en_US')}">English</a></li>
          </ul>
        </li> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Log In</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./profiles">個人資訊</a></li>
                <li><a class="dropdown-item" href="./order_main">訂單管理</a></li>
                <li><a class="dropdown-item" href="./shopping_cart">購物車</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a id="logintoggle" class="dropdown-item togin" href="./login">Log In</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./frontpage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about_us">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./shopping">Shopping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./service">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./shopping_cart">Shopping Cart</a>
            </li>

          </ul>

          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
  </div>
</body>

</html>