<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>結帳</title>
  <meta name="description" content="使用者的條款須知">
  <meta name="robots" content="index , follow">
  <link rel="stylesheet" href="./css/payment.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div th:replace="header :: header"></div>
  </header>



  <div id="nav_title">結帳畫面</div>



  <div class="container">

    <table class="cart_table table table-hover">
      <thead class="cart_table_head" style="text-align: center;font-size: 1.25rem;font-weight: 700;">
        <tr>
          <td class="col">圖片</th>
          <td class="col">名稱</th>
          <td class="col">日期</th>
          <td class="col">時間</th>
          <td class="col">數量</th>
          <td class="col">價格</th>
          <td class="col">操作</th>
        </tr>
      </thead>
      <tbody class="cart_table_body">

      </tbody>
    </table>


    <div class="pay_box d-flex justify-content-end">

      <div>
        <div class="right_price">
          <span>總價：</span><span id="total">0</span><span> 元</span>
        </div>
      </div>
    </div>
  </div>









  <form class="paymentform">

    <!--聯絡者姓名-->
    <div class="mb-3">
      <label class="form-label">聯絡者姓名</label>
      <input name="maincontactname" type="email" class="form-control" id="maincontactname" aria-describedby="emailHelp">
      <div id="contactname" class="form-text">請填寫主要聯絡者的姓名</div>
    </div>

    <!--          聯絡者電話 -->
    <div class="mb-3">
      <label class="form-label">聯絡者電話</label>
      <input name="maincontactphone" type="email" class="form-control" id="maincontactphone"
        aria-describedby="emailHelp">
      <div id="contactphone" class="form-text">請填寫主要聯絡者的電話</div>
    </div>

    <!--          服務地址-->
    <div class="mb-3">
      <label class="form-label">服務地址</label>
      <input name="maincontactaddress" type="email" class="form-control" id="maincontactaddress"
        aria-describedby="emailHelp">
      <div id="contactaddress" class="form-text">請填寫要到府服務的地址,感謝您的配合~</div>
    </div>

    <!--          付款方式-->
    <div id="myMoney" class="input-group mb-3" name="Money">
      <label class="input-group-text" for="singleSelect" name="Money">付款方式</label>
      <select class="form-select" id="singleSelect" name="paymentmoney">
        <option id="cashmoney" value="cash" selected>現金</option>
        <option id="creditcard" value="creditcard" selected>信用卡</option>
      </select>
    </div>





    <!--          公司名稱-->
    <div class="mb-3">
      <label class="form-label">公司名稱</label>
      <input name="maincompany" type="email" class="form-control" id="maincompany" aria-describedby="emailHelp">
      <div id="company" class="form-text">可填可不填</div>
    </div>

    <!--          公司統編-->
    <div class="mb-3">
      <label class="form-label">公司統編</label>
      <input name="companyinvoicenumber" type="email" class="form-control" id="companyinvoicenumber"
        aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">可填可不填</div>
    </div>


    <input name="confirm" id="lastconfirm" type="checkbox" value="未完成" checked>
    <label>確定訂單無誤,並且要提交訂單嗎?</label>
    <br>

    <button id="submiter" type="submit" class="btn btn-primary">提交</button>
    <!-- <a href="./payPayment.html" class="btn  btn-lg active mt-2" role="button" aria-pressed="true"
    id="submiter">提交</a> -->
  </form>

  <footer>
    <div th:replace="footer :: footer"></div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./js/payment.js"></script>
</body>

</html>
