<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服務介紹</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/service_intro.css">
</head>

<body>
    <header>
        <div th:replace="header :: header"></div>
    </header>
    <nav>
        <div id="nav_title">服務介紹 Service Introduction</div>
    </nav>
    <div class="main">
        <div class="container w-100 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-10">
                    <div class="text w-50">
                        <h1>Feedback</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="hover-area" class="container">
        <div id="service-hover" class="row" style="height: 13rem;">
            <div id="planet-1" class="col-2 p-4 mx-auto my-auto"
                style="height: 8rem;width:8rem; background-color: aqua;">
                <img class="h-100 w-100" src="./image/service_intro/iconmonstr-check-mark-13-240.png">
            </div>
            <div id="planet-2" class="col-2 p-4 mx-auto my-auto"
                style="height: 8rem;width:8rem; background-color: blue;">
                <img class="h-100 w-100" src="./image/service_intro/iconmonstr-check-mark-13-240.png">
            </div>
            <div id="planet-3" class="col-2 p-4 mx-auto my-auto"
                style="height: 8rem;width:8rem; background-color: chartreuse;">
                <img class="h-100 w-100" src="./image/service_intro/iconmonstr-check-mark-13-240.png">
            </div>
            <div id="planet-4" class="col-2 p-4 mx-auto my-auto"
                style="height: 8rem;width:8rem; background-color: darkcyan;">
                <img class="h-100 w-100" src="./image/service_intro/iconmonstr-check-mark-13-240.png">
            </div>
            <div id="planet-5" class="col-2 p-4 mx-auto my-auto"
                style="height: 8rem;width:8rem; background-color: yellow;">
                <img class="h-100 w-100" src="./image/service_intro/iconmonstr-check-mark-13-240.png">
            </div>
            <div id="planet-6" class="col-2 p-4 mx-auto my-auto"
                style="height: 8rem;width:8rem; background-color: hotpink;">
                <img class="h-100 w-100" src="./image/service_intro/iconmonstr-check-mark-13-240.png">
            </div>
        </div>
        <div class="row">
            <div id="magnifier-default" class="col"
                style="height: 28rem;background-image: url(./image/service_intro/blue-2384333_1280.png);">
            </div>
            <div id="magnifier-1" class="col"
                style="height: 28rem;display: none; background-image: url(./image/service_intro/blue-2438160_1280.png);">
            </div>
            <div id="magnifier-2" class="col"
                style="height: 28rem;display: none;background-image: url(./image/service_intro/branches-2740419_1280.png);">
            </div>
            <div id="magnifier-3" class="col"
                style="height: 28rem;display: none;background-image: url(./image/service_intro/lion-3297303_1280.jpg);">
            </div>
            <div id="magnifier-4" class="col"
                style="height: 28rem;display: none;background-image: url(./image/service_intro/png-1342117_1280.png);">
            </div>
            <div id="magnifier-5" class="col"
                style="height: 28rem;display: none;background-image: url(./image/service_intro/png-1342126_1280.png);">
            </div>
            <div id="magnifier-6" class="col"
                style="height: 28rem;display: none;background-image: url(./image/service_intro/water-2748657_1280.png);">
            </div>
        </div>
    </div>
    <div id="service-text" class="container mt-5">
        <div class="row">
            <div class="px-4" style="height: 15rem;width: 26rem;border-radius: 5px;">
                <p class="area3_p1">住宅型垃圾代收</p>
                <p class="area3_p2">為您的家庭或個人提供廢棄物與回收物的快速解決方案。</p>
            </div>
            <div class="px-4" style="height: 15rem;width: 26rem;border-radius: 5px;">
                <p class="area3_p1">垃圾箱定點收取</p>
                <p class="area3_p2">為您設置廢棄物與回收物定點垃圾箱，方便您用於交付和儲放訂單物品，能有效提升個人的時間安排。</p>
            </div>
            <div class="px-4" style="height: 15rem;width: 26rem;border-radius: 5px;">
                <p class="area3_p1">垃圾箱出售</p>
                <p class="area3_p2">我們為服務項目提供多種尺寸的專屬垃圾箱可供購買</p>
            </div>
            <div class="px-4" style="height: 15rem;width: 26rem;border-radius: 5px;">
                <p class="area3_p1">回收物分類代收</p>
                <p class="area3_p2">為各種類回收物品提供代收服務(不包含大型回收物件，且須完成回收分類)，若有破碎物請先排除安全性問題並備註內容物後再發佈訂單</p>
            </div>
            <div class="px-4" style="height: 15rem;width: 26rem;border-radius: 5px;">
                <p class="area3_p1">燈泡.電池和電子產品</p>
                <p class="area3_p2">為燈泡、電池及電子產品等特殊回收物提供專屬的回收服務</p>
            </div>
            <div class="px-4" style="height: 15rem;width: 26rem;border-radius: 5px;">
                <p class="area3_p1">社區共同訂單</p>
                <p class="area3_p2">以社區為單位提供大型訂單，可與服務人員聯繫並確認訂單相關內容與收取時間</p>
            </div>
        </div>
    </div>

    <center>
        <img src="./image/LOGO1.png" alt="LOGO" width="150rem" style="padding-bottom: 1.5rem;"> <br>
        <hr style="width:90%;"> <br>
    </center>
    <div id="sec_area_8">
        <a href="./about_us">關於我們</a>
        <a href="./service_intro">服務介紹</a>
        <a href="./Userterms">使用須知</a>
        <a href="./problem">常見問題</a>
        <a href="./feedback">使用回饋</a>
        <a href="./service">購買服務</a>
        <a href="./shopping">購物商城</a>
    </div>
    <footer>
        <div th:replace="footer :: footer">Footer</div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="massage-content">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/service_intro.js"></script>
</body>

</html>