<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成功頁面</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/profiles.css">
    <link rel="stylesheet" href="./css/verification.css">
</head>

<body>
    <!-- header -->
    <header>
    </header>

    <nav>
        <div id="nav_title">驗證成功</div>
    </nav>

    <div class="container text-white text-shadow">
        <div class="popup center shadow border">
            <div class="icon">
                <i class="fa fa-check"></i>
            </div>
            <div class="title">
                驗證成功!!
            </div>
            <div class="description">
                五秒後將自動導回首頁
            </div>
            <div class="dismiss-btn">
                <button id="dismiss-popup-btn">
                    關閉
                </button>
            </div>
        </div>
    </div>


    <center>
        </li>
        <img src="./image/LOGO1.png" alt="LOGO" width="150rem" style="padding-bottom: 1.5rem;"> <br>
        <hr style="width:90%;">
    </center>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="./about_us">關於我們</a>
        <li class="nav-item">
            <a class="nav-link" href="./service_intro">服務介紹</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./Userterms">使用須知</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./problem">常見問題</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./feedback">使用回饋</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./service">購買服務</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./shopping">購物商城</a>
        </li>
    </ul>
    </section>
    <footer>
    </footer>
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="js/common.js"></script>
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/verification.js"></script>
</body>

</html>