<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/feedback.css">
    <title>Daobunso</title>
</head>
<body>
    <header>
        <div id="header_media">
            <a href="#"><img id="header_media_fb" src="./image/FB.png" alt="fb sign" width="30rem"></a>
            <a href="#"><img id="header_media_IG" src="./image/IG.png" alt="IG sign" width="30rem"></a>
            <a href="#"><img id="header_media_Line" src="./image/Line.png" alt="IG sign" width="30rem"></a>
            <a href="#"><img id="header_media_twitter" src="./image/Twitter.png" alt="IG sign" width="30rem"></a>     
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="./frontpage.html"><img src="./image/LOGO1.png" alt="LOGO" width="120rem"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="./frontpage.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./about_us.html">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./shopping.html">Shopping</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./service.html">Service</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./shopping_cart.html">Shopping Cart</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Log In</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./profiles.html">個人資訊</a></li>
                      <li><a class="dropdown-item" href="./order_main.html">訂單管理</a></li>
                      <li><a class="dropdown-item" href="./shopping_cart.html">購物車</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="./login.html">Log In</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
    <!-- ~header -->

    <div class="main">
        <div class="container w-100 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-10">
                    <div class="text w-50">
                        <h1>Feedback</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav_title">網站回饋 User Feedback</div>
    <!-- <div class="container my-3" style ="height: 16rem"> -->
        <div id="marquee"class="container my-3" style ="height: 16rem" >
            <div class="row h-100">
                <div id="sushi" v-for="rl in res" class="sushi card mb-3 col" style="max-width: 540px;height: 14rem;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="./image/service_intro/holo/pekora.png"class=" img-fluid rounded-start">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <img src="./image/service_intro/holo/Saintquartz.png"v-for="n in rl.star"style="height: 1.5rem;width: 1.5rem;"> 
                                <h5 class="card-title">{{rl.account}}</h5>
                                <p type="textarea" class="card-text">{{rl.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> 
    <!-- </div> -->
    
    <div class="row my-3">
        <!-- 意見領域展開!!! -->
        <div class="col-2 mx-auto">
            <button id="btn-ex" class="btn btn-outline-primary mx-auto">填寫意見</button>
        </div>
        <!-- ~意見領域展開!!! -->

        <!-- 修改刪除按鈕 -->
        <div class="col-2 mx-auto">
            <button id="btn-edit" class="btn btn-primary mx-auto" style="width: 9rem;" >修改/刪除意見</button>
        </div>
        <!-- ~修改刪除按鈕 -->
    </div>
    
    <!-- 意見領域 -->
    <div class="feedback">
        <div class="container">
            <div class="row">
                <div class="user-img col-1">
                     <div style="height: 5rem;width: 5rem;">
                        <img class="img-fluid" src="">
                    </div>
                </div>
                <div class="col">
                    <div class="user-name mt-3">
                        <h2 style="color: cornflowerblue;">pekora</h2>
                    </div>
                </div>
            </div>
        <hr class="mx-auto">
            <div class="row mt-3">
                <div class="col">

                    <!-- 意見回饋 -->
                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlTextarea1" class="form-label">內容:</label>
                        </div>
                        
                        <div class="col">

                            <!-- 星星 -->
                            <div class="btn-group mx-auto col-4" role="group" >
                                <div class="star star1"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                                <div class="star star2"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                                <div class="star star3"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                                <div class="star star4"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                                <div class="star star5"type="button" style="height:2.5rem;width:2.5rem;">
                                    <img src=""class="img-fluid">
                                </div>
                            </div>
                            <!-- /星星 -->

                        </div>
                        <textarea class="form-control" id="feedback-comment" rows="10"></textarea>
                    </div>
                    <!-- /意見回饋 -->
                
                    <div class="row mt-5">

                        <!-- 送出按鈕 -->
                        <div class="col-2 d-grid gap-2 d-md-flex me-5">
                            <button id="btn-feedback" class="btn btn-primary" type="button" style="height: 3rem; width: 6rem;">送出</button>
                        </div>
                        <!-- /送出按鈕 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ~意見領域 -->

    <!-- 編輯領域 -->
    <div class="feedback-edit">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="feedback-editlist col-4">
                        
                    </div>
                    <div class="feedback-editlist col-4"></div>
                    <div class="feedback-editlist col-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ~編輯領域 -->

    <!-- footer -->
    <footer>
        <img id="footer_logo" src="./image/LOGO2.png" alt="footer_logo" width="200rem">
        <a href="#"><img id="footer_media_fb" src="./image/iconmonstr-facebook-3-240.png" alt="fb sign" width="30rem"></a>
        <a href="#"><img id="footer_media_IG" src="./image/iconmonstr-instagram-11-240.png" alt="IG sign" width="30rem"></a>
        <a href="#"><img id="footer_media_Line" src="./image/iconmonstr-line-3-240.png" alt="Line sign" width="30rem"></a>
        <a href="#"><img id="footer_media_Twitter" src="./image/iconmonstr-twitter-3-240.png" alt="Twitter sign" width="30rem"></a>
      
        <p>DAOBUNSO &copy; 2021 Garbage Connections. All Rights Reserved.<br>
        僅為北科大 Java 017 班專題展示使用 <br>
        如有任何問題請聯絡：XXXXX@gmail.com</p>
    </footer>
    
    <script src="js\jquery-3.6.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.Marquee/1.6.0/jquery.marquee.js" integrity="sha512-fkD+ERYA/LvkGF5GiipDr7myGZH3m8OPbYw62KE6qalbgykahcpfNjWe/RZmsY12qraS+wYUo2e51Zl2hShgVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="js/feedback.js"></script>
</body>
</html>